* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
}

/* TYPOGRAPHY */
body {
  background-color: #faf9f8;
  font-family: 'Biryani', sans-serif;
  position: relative;
}

body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-family: 'Josefin Sans', sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
}

h1 {
  color: white;
  font-weight: 700;
  font-size: 2.0rem;
  margin-bottom: 30px;
}

h4 {
  color: white;
  font-size: 2rem;
}

a {
  color: #001A49;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.logo img {
  width: 50%;
}

.btn {
  background: #143951;
  border-radius: : medium;
  border-radius: 8px;
  border-color: black;
  color: white;
  font-size: 1.1rem;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0px 1px 0px white;
}

.btn:hover {
  background: #0000;
  background-color: white;
  background: linear-gradient(#ffff, #ffff);
  color: #143951;
}

.btn:active {
  background: #143951;
  background-color: white;
  background: linear-gradient(#0000, #143951);
  box-shadow: 1px 1px 10px white inset,
    0 1px 0 white, 0.4;
  color: #0000;
}

/* ||||||||||||||||||||MISE EN PAGE|||||||||||||||||||| */
/* __effet visuel__ */
.zoom, .big_zoom {
  transform: scale(1);
}

.zoom:hover {
  transform: scale(1.02);
}

.big_zoom:hover {
  transform: scale(1.2);
}

.zoom, .zoom:hover {
  transition: 1s ease;
}

.big_zoom, .big_zoom:hover {
  transition: .3s ease;
}

/* ||||||||||||||||||||MENU_NAVIGATION|||||||||||||||||||| */
nav {
  background-color: white;
  left: 0;
  padding: 15px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
}

.mainNav {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.row {
  display: flex;
}

.row li {
  padding-right: 50px;
}

#menu-responsive {
  display: none;
}

/* ||||||||||||||||||||FOOTER|||||||||||||||||||| */
.footerGlobal {
  background: #e4e4e4;
  padding-top: 20px;
}

.mainfoot h5 {
  font-size: 1.2rem;
}

.law p {
  color: white;
  font-size: 1.5rem;
  margin-top: 26px;
  text-align: left;
}

.logoFoot {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 20px;
  width: 100%;
}

.logoFoot img {
  width: 20%;
}

.fa-facebook:before {
  color: #143951;
}

.fa-twitter:before {
  color: #143951;
}

#bottom {
  display: flex;
  justify-content: space-between;
}

#socialMedia {
  align-items: center;
  justify-content: center;
  margin: 0 0;
  padding-bottom: 1px;
  justify-content: space-around;
  padding:
}

#inscription {
  background-color: #143951;
  border: 1px solid white;
  color: white;
  padding: 5px;
  font-weight: bold;
}

/* NEWSLETTER */
.newsletter {
  background-color: #143951;
  margin-bottom: 30px;
  text-align: center;
  padding: 39px 80px;
}

.newsletter p {
  margin-bottom: 15px;
  color: white;
}

.newsletter label {
  color: white;
}

#champ {
  background-color: white;
  border: none;
  border-bottom: 1px solid black;
  color: black;
  padding: 5px;
  margin-right: 10px;
}

/* ||||||||||||||||||||HEADER||||||||||||||||||||*/
header {
  background-image: url("../images/imagestest.jpg");
  background-position: center 29%;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 20px 0px;
  margin-top: 63px;
  padding: 237px 80px;
}

/* |||||||||||||SECTION CATEGORIE|||||||||||||||||||| */
.main-cat {
  display: flex;
  justify-content: space-between;

}

.img_cat{
  background-position: center 29%;
  background-size: cover;
  padding: 150px 191px;


}
.img_CatAdlt {
  background-image: url("../images/catadlt.png");

}

.cat_describe  {
  color: white;
  font-weight: 700;
  font-size: 2.0rem;
  margin-bottom: 30px;
  text-align: center;
}

.img_CatEnfant {
  background-image: url("../images/catenfant.png");

}


/* ||||||||||||||||||||SECTION ARTICLE|||||||||||||||||||| */
.product_image {
  position: relative;
}

.overlay {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  font-size: 1.8rem;
  height: 98%;
  justify-content: center;
  opacity: 0;
  position: absolute;
  transition: .4s ease;
  width: 100%;
}

.add-fav {
  color: white;
  transition: 500ms;
  top: 16px;
  position: absolute;
  right: 16px;
}

.add-fav:hover {
  color: red;
}

.product_image:hover .overlay {
  opacity: 1;
}

.all_product article {
  border-radius: 10px;
}

.all_product {
  border-radius: 10px;
  display: flex;
}

.all_product span {
  text-align: right;
  display: flex;
}

.artTitle {
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
}

.artTitle h2 {
  font-size: 40px;
}

.single-product-content span {
  color: #9A0505;
}

.single-product-content {
  padding: 15px;
}

.opacText p {
  margin-top: 10px;
  opacity: 0.60;
}

.col:nth-child(even) {
  margin: 0 20px;
}

.art_produit .btn {
  display: block;
}

/* ||||||||||||||||||||SECTION PROMO|||||||||||||||||||| */
.bPromo {
  background-image: url("../images/dPromo.jpg");
  background-position: center 29%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 63px;
  padding: 65px 80px;
}

.bPromo h4 {
  color: white;
  margin-bottom: 30px;
}

/* ||||||||||||||||||||SECTION ICONE AVENTAGE||||||||||||||||||*/
/* LES AVANGTAGES DU SITE */
.avantages {
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  color: #143951;
  justify-content: space-between;
  text-align: center;
  width: 100%;
}

.avantages h4 {
  color: #143951;
}

.cont-avtg {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 90px 0;
}

.fa-shipping-fast, .fa-headset, .fa-check-circle {
  font-size: 3rem;
  padding-bottom: 10px;
}

/*|||||||||||||||||||||   ANCRE  ||||||||||||||||||| */
.back-top a {
  bottom: 20px;
  color: #143951;
  font-size: 4rem;
  position: fixed;
  right: 20px;
}

.back-top a:hover {
  color: white;
  transition: 200ms ease;
}
